.row{
    display: grid;
    grid-template-rows: repeat(29, 2rem);
    grid-template-columns: 8rem;    
    background: white;
}
.cel{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.celAlign{
    width: 30%;
}